@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap";

:root {
    --color-efects: #28d6f5fb;
    --color-rocket: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-bottom: 50px;
}

header {
    padding: 16px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links div a:hover {
    color: var(--color-efects);
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    padding: 18px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-efects);
    margin-bottom: 32px;
    height: 300px;
    margin-top: 40px;
}

#wrapper h1 {
    font-size: 38px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    min-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

#links-footer a {
    border-bottom: 1px solid var(--color-efects);
}

/* === CARDS === */

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
    display: grid;
    cursor: pointer;
}

.card__image-container img {
    width: 100%;
}

.card__content, 
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/* === FEATURED === */

.featured-wrapper.card__image-container {
    position: relative;
}

.featured {
    position: absolute;
    background: #f7d05f;
    color: #111;
    font-size: 14px;
    padding: 2px 12px;
    right: 5px;
    border-radius: 16px;
    top: 130px;
}

/* === VIDEO PAGE === */

.video {
    margin: 0 auto;
    max-width: 800px;
}

.video .card {
    cursor: initial;
}

.card__video-container {
    position: relative;
    width: 100%;
    padding-top: 62.5%;
}

.card__video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}